/HelloWorld.class
/LacosDecisao1.class
/LacosDecisao2.class
/MediaAluno.class
/IdadeDias.class
/ParImpar.class
/ParImapr.class
/LacoRepeticaoWhile.class
/RepeticaoDoWhile.class
/LacoRepeticao4.class
/LacoRepeticao1.class
/LacoRepeticao6.class
